/* * {
    color: red;
} */

/* #para{
    color: red;
}

.abc{
    color: blue;
} */

body {
    background-image: url("https://images.pexels.com/photos/7508276/pexels-photo-7508276.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* #a {
    color: hsl(0,100%,50%);
    background-color: rgb(0, 0, 0);
    font-size: 50px;
    font-style: oblique;
}

#b {
    color: rgb(0, 255, 217);
    background-image: url("https://plus.unsplash.com/premium_photo-1673306778968-5aab577a7365?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YmFja2dyb3VuZCUyMGltYWdlfGVufDB8fDB8fHww");
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 50px;
    font-style: oblique;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
} */

/* #a {
    font-size: 20px;
    color: white;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: capitalize;
}

#b {
    font-size: 25px;
    color: white;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 30px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}

.abc {
    text-decoration: underline
} */

/* div{
    width: 1000px;
    height: 200px;
    background-color: red;    
}

p{
    max-width: 1000px;
    height: 200px;
    background-color: rgb(10, 233, 43);
} */

/* p{
    width: 100vw;
    height: 100vh;
    color: palevioletred;
    background-color: black;
} */

/* html{
    font-size: 30px ;
}

.a {
    font-size: 1rem;
}

.b {
    font-size: 2rem;
} */

/* div{
    font-size: 25px;
}

p {
    font-size: 1em;
} */

/* div{
    height: 100px;
    width: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: blue;

    border: 2px solid blue;
} */

/* div{
    height: 300px;
    width: 300px;
    
    border-top-width: 16px;
    border-left-width: 2px;
    border-right-width: 8px;
    border-bottom-width: 32px;
    border-left-color: brown;
    border-right-color: greenyellow;
    border-bottom-color: pink;
    border-top-color: blue;
    border-left-style: solid;
    border-right-style: dashed;
    border-top-style: dotted;
    border-bottom-style: double;
} */

/* div{
    height: 300px;
    width: 300px;
    border: 2px solid rgba(0 255 217);
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin: 20px;

}    */

/* div{
    height: 400px;
    width: 200px;
    color: aliceblue;
    border-radius: 30px;
    border: 20px solid lightpink;
    padding: 10px 5px 10px 15px;
    margin: 10px 5px 10px 15px;
    box-sizing: content-box;
} */

.card{
    width:350px;
    height:450px;
    border:5px solid black;
    margin:auto;
    padding:20px;
}

.image{
    width:250px;
    height:200px;
    border:5px solid black;
    border-radius:40px;
    margin:auto;
    margin-bottom:20px;
}

.name{
    width:140px;
    height:30px;
    border:4px solid black;
    margin-bottom:20px;
    padding-top:15px;
    padding-left:10px;
    color: white;
}

.price{
    width:140px;
    height:30px;
    border:4px solid black;
    margin-left:190px;
    margin-top:-75px;
    padding-top:15px;
    padding-left:10px;
    color: white;
}

.rating{
    width:140px;
    height:30px;
    border:4px solid black;
    margin-top:35px;
    padding-top:15px;
    padding-left:10px;
    color: white;
}

.review{
    width:140px;
    height:30px;
    border:4px solid black;
    margin-left:190px;
    margin-top:-55px;
    padding-top:15px;
    padding-left:10px;
    color: white;
}

button{
    width:180px;
    height:45px;
    border:4px solid black;
    margin-top:40px;
    margin-left:80px;
    background-color:white;
}
